/* Cards Styles */

/* Front */
.card{ 
  background-repeat: no-repeat;
  position: absolute;
  min-width: 447px;
  min-height: 245px;
  filter: drop-shadow(
    0 0 5px black

  );

}

.card--front{
  background-image: url('/images/bg-card-front.png');
  top: 20%;
  left: 35%;

}

.card__logo{
  margin: 1rem;

}

.card__number{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem;
  margin-top: 1.5rem;
  color: var(--white-color);
  
}

.card__number-text{
  font-weight: var(--fw-500);
  font-size: 1.7rem;
  letter-spacing: 0.3rem;

}

.card__details{
  padding-inline: 1.3rem;
  display: flex;
  justify-content: space-between;
  color: var(--white-color);
  
}

.card__owner, .card__expiry{
  text-transform: uppercase;
  font-weight: var(--fw-500);

}

/* Back */

.card--back{
  background-image: url('/images/bg-card-back.png');
  top: 55%;
  left: 55%;
  position: relative;

}

.card__cvc{
  position: absolute;
  top: 45%;
  left: 65%;

}

.card__cvc-number{
  color: var(--white-color);
  font-weight: var(--fw-500);
  letter-spacing: 0.1rem;

}

/* Form Styles */

form{
  width: 100%;
  max-width: 400px;

}

.form__fields{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

}

.form__row{
  display: flex;
  gap: 0.5em;

}

.form__row input{
  min-width: 0;
  width: 100%;

}

#inputMonth,
#inputYear{
  flex: 1;

}

#inputCVC{
  flex: 2;

}

input{
  border-radius: var(--border-radius);
  padding: 0.5rem;
  border: 1px solid #ced4da;

}

input:focus{ outline: none; border-color: var(--border-color); }

.form__label{
  padding-bottom: 0.5rem;

}

.form__button{
  display: flex;
  justify-content: center;

}

.form__button button{
  cursor: pointer;
  margin-top: 1rem;
  border-radius: var(--border-radius);
  padding: 0.6rem;
  min-width: 100%;
  border: none;
  font-family: var(--main-font);
  background-color: var(--purple-950);
  color: var(--white-color);

}

.form__button button:hover{ background-color: hsl(278, 94%, 30%); }